<!DOCTYPE html>
<html lang="en" class=" is-copy-enabled">
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#">
        <meta charset='utf-8'>
        <title>CSV Comparer</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}" />
    </head>
    <body>
        <h1>CSV Comparer</h1>
        <div id="formcont"><form id="upform">
            <div class="formrow">
                <div class="formlabel"><label>Left File</label></div>
                <div class="formvalue">TODO</div>
            </div>
        </form></div>
    </body>
</html>
